USE [master]
GO
/****** Object:  Database [PhysicalSecurity]    Script Date: 6/19/2026 1:17:56 PM ******/
CREATE DATABASE [PhysicalSecurity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhySec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLPHYSEC\MSSQL\DATA\PhySec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhySec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLPHYSEC\MSSQL\DATA\PhySec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhysicalSecurity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhysicalSecurity]
GO
/****** Object:  Table [dbo].[AccessLog]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[UserType] [nvarchar](10) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[Activity] [nvarchar](max) NULL,
	[LogIp] [nvarchar](50) NULL,
 CONSTRAINT [PK_AccessLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CbnEvacuations]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CbnEvacuations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameTallyNo] [varchar](20) NOT NULL,
	[DateofEva] [datetime] NOT NULL,
	[CBNStaffName] [varchar](max) NULL,
	[TeamLeader] [varchar](max) NULL,
	[Observations] [varchar](max) NULL,
	[RemarkDutyOff] [varchar](max) NULL,
	[NameDutyOff] [varchar](max) NULL,
	[AMPSCComm] [varchar](max) NULL,
	[NamePSCComm] [varchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[TruckDetail] [varchar](max) NULL,
	[Denomination] [varchar](max) NULL,
	[Period] [varchar](20) NULL,
	[ShiftDate] [date] NULL,
	[DutyOfficerId] [varchar](20) NULL,
	[DutyOfficerDate] [datetime] NULL,
	[DutyOfficerComment] [varchar](250) NULL,
	[AmPscId] [varchar](20) NULL,
	[AmPscDate] [datetime] NULL,
	[AmPscComment] [varchar](250) NULL,
	[ManagerPscId] [varchar](20) NULL,
	[ManagerPscDate] [datetime] NULL,
	[ManagerPscComment] [varchar](250) NULL,
 CONSTRAINT [PK_CbnEvacuations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyPostings]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyPostings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateDaily] [varchar](max) NULL,
	[DateDailyPost] [datetime] NOT NULL,
	[shiftController] [varchar](max) NOT NULL,
	[ZonalOfficer] [varchar](max) NULL,
	[MaleChangeRoom] [varchar](max) NULL,
	[FemaleChangeRoom] [varchar](max) NULL,
	[PrintingHall] [varchar](max) NULL,
	[NewLine] [varchar](max) NULL,
	[CutPark] [varchar](max) NULL,
	[VanishingEnt] [varchar](max) NULL,
	[CCTV] [varchar](max) NULL,
	[Escort] [varchar](max) NULL,
	[Drivers] [varchar](max) NULL,
	[TotNoAssts] [varchar](max) NULL,
	[shiftPeriod] [varchar](max) NULL,
	[DutyOfficer] [varchar](max) NULL,
	[SignDutyOff] [varchar](max) NULL,
	[NamePSCOPS] [varchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[Period] [varchar](20) NULL,
	[ShiftDate] [date] NULL,
 CONSTRAINT [PK_DailyPostings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[LastUpdated] [datetime] NULL,
	[LastUpdatedBy] [varchar](10) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DutyPoints]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DutyPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[LastUpdated] [datetime] NULL,
	[LastUpdatedBy] [varchar](10) NULL,
	[HandleName] [varchar](50) NULL,
 CONSTRAINT [PK_DutyPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsDelvryContractors]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsDelvryContractors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateGoodDelved] [date] NOT NULL,
	[Goods] [varchar](max) NULL,
	[StaffNo] [varchar](10) NOT NULL,
	[Supplier] [varchar](120) NULL,
	[ProcurementStaffId] [varchar](10) NULL,
	[ProcurementSigned] [datetime] NULL,
	[InventoryStaffId] [varchar](10) NULL,
	[InventorySigned] [datetime] NULL,
	[InternalAuditStaffId] [varchar](10) NULL,
	[InternalAuditSigned] [datetime] NULL,
	[PhySecStaffId] [varchar](10) NULL,
	[[PhySecSigned] [datetime] NULL,
	[RdStaffId] [varchar](10) NULL,
	[RdSigned] [datetime] NULL,
	[MatSecStaffId] [varchar](10) NULL,
	[MatSecSigned] [datetime] NULL,
	[OtherComments] [varchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[RemarkDutyOff] [varchar](max) NULL,
	[Period] [varchar](20) NULL,
	[ShiftDate] [date] NULL,
	[DutyOfficerId] [varchar](20) NULL,
	[DutyOfficerDate] [datetime] NULL,
	[DutyOfficerComment] [varchar](250) NULL,
	[ManagerPscId] [varchar](20) NULL,
	[ManagerPscDate] [datetime] NULL,
	[ManagerPscComment] [varchar](250) NULL,
 CONSTRAINT [PK_GoodsDelvryContractors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[LastUpdated] [datetime] NULL,
	[LastUpdatedBy] [varchar](10) NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HandOvers]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HandOvers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Period] [varchar](20) NOT NULL,
	[ShiftDate] [date] NULL,
	[Note] [varchar](max) NULL,
	[ControlRoomOperation] [varchar](max) NULL,
	[ZonalOperation] [varchar](max) NULL,
	[ControlRoomEquipment] [varchar](max) NULL,
	[KeySafeOperation] [varchar](max) NULL,
	[WasteStatistic] [varchar](max) NULL,
	[CbnMovement] [varchar](max) NULL,
	[Summary] [varchar](max) NULL,
	[OutGoingOfficerId] [varchar](10) NOT NULL,
	[IncomingOfficerId] [varchar](10) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Location] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HandOvers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyBagRequests]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyBagRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [varchar](10) NOT NULL,
	[StaffName] [varchar](150) NULL,
	[Reason] [varchar](max) NULL,
	[Personnel] [varchar](max) NULL,
	[KeyBags] [varchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Treated] [bit] NOT NULL,
	[Status] [varchar](50) NULL,
	[LastUpdated] [datetime] NULL,
	[LastUpdatedBy] [varchar](10) NULL,
	[Attachment] [varchar](max) NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK_KeyBagRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialMovements]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialMovements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](20) NOT NULL,
	[StaffId] [varchar](20) NOT NULL,
	[StaffName] [varchar](150) NULL,
	[DepartmentId] [int] NULL,
	[DepartmentName] [varchar](100) NULL,
	[Location] [varchar](20) NULL,
	[MaterialType] [varchar](30) NOT NULL,
	[ItemDescription] [varchar](max) NOT NULL,
	[Quantity] [varchar](50) NULL,
	[Purpose] [varchar](max) NULL,
	[Destination] [varchar](250) NOT NULL,
	[ExpectedReturnDate] [datetime] NULL,
	[DepartmentApprovalId] [varchar](20) NULL,
	[DepartmentApprovalDate] [datetime] NULL,
	[DepartmentApprovalComment] [varchar](250) NULL,
	[DutyOfficerId] [varchar](20) NULL,
	[DutyOfficerDate] [datetime] NULL,
	[DutyOfficerComment] [varchar](250) NULL,
	[ExitOfficerId] [varchar](20) NULL,
	[ExitOfficerDate] [datetime] NULL,
	[ExitOfficerComment] [varchar](250) NULL,
	[GateHouseId] [varchar](20) NULL,
	[GateHouseDate] [datetime] NULL,
	[GateHouseComment] [varchar](250) NULL,
 CONSTRAINT [PK_MaterialMovements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialSearchEscorts]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialSearchEscorts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Period] [varchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Name] [varchar](max) NULL,
	[TypeofMaterial] [varchar](max) NULL,
	[QuantityWeightMaterial] [varchar](max) NULL,
	[TimeSearchCommenced] [datetime] NOT NULL,
	[TimeSearchEnded] [datetime] NOT NULL,
	[TimeEscortCommenced] [datetime] NOT NULL,
	[TimeEscortEnded] [datetime] NOT NULL,
	[SourceofMaterials] [varchar](max) NULL,
	[TimeDisposed] [datetime] NOT NULL,
	[NamesTallyPersonnel] [varchar](max) NULL,
	[SearhoutMaterials] [varchar](max) NULL,
	[RemarkEscort] [varchar](10) NULL,
	[ZonalOfficerComment] [varchar](10) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[DestDisposal] [varchar](max) NULL,
	[Location] [varchar](20) NOT NULL,
	[ShiftDate] [date] NULL,
	[DutyOfficerId] [varchar](20) NULL,
	[DutyOfficerDate] [datetime] NULL,
	[DutyOfficerComment] [varchar](250) NULL,
	[AmPscId] [varchar](20) NULL,
	[AmPscDate] [datetime] NULL,
	[AmPscComment] [varchar](250) NULL,
	[ManagerPscId] [varchar](20) NULL,
	[ManagerPscDate] [datetime] NULL,
	[ManagerPscComment] [varchar](250) NULL,
 CONSTRAINT [PK_MaterialSearchEscorts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewFactoryForms]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewFactoryForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Period] [varchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ReportingOfficer] [varchar](max) NULL,
	[Report] [varchar](max) NULL,
	[Signature] [varchar](max) NULL,
	[AMPSCComment] [varchar](max) NULL,
	[AMPSCSign] [varchar](max) NULL,
	[MgrPSCComment] [varchar](max) NULL,
	[MgrPSCSign] [varchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[ShiftDate] [date] NULL,
	[DutyOfficerId] [varchar](20) NULL,
	[DutyOfficerDate] [datetime] NULL,
	[DutyOfficerComment] [varchar](250) NULL,
	[AmPscId] [varchar](20) NULL,
	[AmPscDate] [datetime] NULL,
	[ManagerPscId] [varchar](20) NULL,
	[ManagerPscDate] [datetime] NULL,
	[ManagerPscComment] [varchar](250) NULL,
 CONSTRAINT [PK_NewFactoryForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassEntries]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [varchar](250) NOT NULL,
	[DepartmentId] [int] NULL,
	[Created] [datetime] NOT NULL,
	[CheckedIn] [bit] NOT NULL,
	[CheckedInBy] [varchar](10) NULL,
	[CheckedInDate] [datetime] NULL,
	[Tally] [varchar](20) NULL,
	[CheckedOut] [bit] NULL,
	[CheckedOutDate] [datetime] NULL,
	[CheckedOutBy] [varchar](10) NULL,
	[ExternalVisitorDescription] [varchar](max) NULL,
 CONSTRAINT [PK_PassEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passes]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [varchar](10) NULL,
	[Tally] [varchar](20) NULL,
	[Destination] [varchar](150) NULL,
	[DepartmentMgrStaffId] [varchar](10) NULL,
	[DepartmentMgrTreated] [bit] NOT NULL,
	[PassApproved] [bit] NULL,
	[PassApprovedDate] [datetime] NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[Returned] [bit] NULL,
	[ReturnedBy] [varchar](10) NULL,
	[ReturnedDate] [datetime] NULL,
	[PassLocation] [int] NOT NULL,
	[PassType] [varchar](10) NOT NULL,
	[DepartmentId] [int] NULL,
	[Exited] [bit] NULL,
	[ExitedGate] [bit] NULL,
	[ReturnedGate] [bit] NULL,
	[ExitedGateBy] [varchar](10) NULL,
	[ExitedBy] [varchar](10) NULL,
	[ReturnedGateBy] [varchar](10) NULL,
	[ExitedDate] [datetime] NULL,
	[ExitedGateDate] [datetime] NULL,
	[ReturnedGateDate] [datetime] NULL,
	[CheckInActivity] [varchar](max) NULL,
 CONSTRAINT [PK_Passes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassExits]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassExits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [varchar](250) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Description] [varchar](max) NULL,
	[Approved] [bit] NULL,
	[ApprovedDate] [datetime] NULL,
	[Location] [varchar](20) NOT NULL,
	[ApprovedBy] [varchar](10) NULL,
	[CheckedOut] [bit] NULL,
	[CheckedOutDate] [datetime] NULL,
	[CheckedOutBy] [varchar](10) NULL,
	[ExitCategory] [varchar](20) NULL,
	[GateCheckedOut] [bit] NOT NULL,
	[GateCheckedOutDate] [datetime] NULL,
	[GateCheckedOutBy] [varchar](10) NULL,
	[ParentExitId] [int] NULL,
 CONSTRAINT [PK_PassExits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [varchar](10) NOT NULL,
	[Email] [varchar](100) NULL,
	[Role] [varchar](50) NOT NULL,
	[LoginStatus] [varchar](50) NULL,
	[LastLogin] [datetime] NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[Password] [varchar](max) NULL,
	[Username] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[OtherName] [varchar](50) NULL,
	[LastUpdatedBy] [varchar](50) NULL,
	[LastUpdated] [datetime] NULL,
	[UnitId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Grade] [varchar](5) NOT NULL,
	[CanLogin] [bit] NOT NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityDocs]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityDocs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[TypeDocument] [varchar](max) NULL,
	[NameofCust] [varchar](max) NULL,
	[PointEscortComm] [varchar](max) NULL,
	[TmeEscortComm] [datetime] NOT NULL,
	[deliveryDestination] [varchar](max) NULL,
	[TmeEscortCompleted] [datetime] NOT NULL,
	[NamesStaffNo] [varchar](max) NULL,
	[VehicleUsedReg] [varchar](max) NULL,
	[NameNoDriver] [varchar](max) NULL,
	[NameNoSecurityEscort] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[SignSecurityEscort] [varchar](max) NULL,
	[RemarkDutyOff] [varchar](max) NULL,
	[Location] [varchar](20) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[Created] [datetime] NOT NULL,
	[Period] [varchar](20) NULL,
	[ShiftDate] [date] NULL,
	[DutyOfficerId] [varchar](20) NULL,
	[DutyOfficerDate] [datetime] NULL,
	[DutyOfficerComment] [varchar](250) NULL,
	[AmPscId] [varchar](20) NULL,
	[AmPscDate] [datetime] NULL,
	[AmPscComment] [varchar](250) NULL,
	[ManagerPscId] [varchar](20) NULL,
	[ManagerPscDate] [datetime] NULL,
	[ManagerPscComment] [varchar](250) NULL,
 CONSTRAINT [PK_SecurityDocs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityPatrols]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityPatrols](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TallyNo] [varchar](10) NOT NULL,
	[NamePatrolOff] [varchar](max) NULL,
	[NameShiftCont] [varchar](max) NULL,
	[PatrolZone] [varchar](max) NULL,
	[FstPatroltineout] [datetime] NOT NULL,
	[FstPatrolTimein] [datetime] NOT NULL,
	[ThrPatroltineout] [datetime] NOT NULL,
	[ThrPatrolTimein] [datetime] NOT NULL,
	[FouPatroltineout] [datetime] NOT NULL,
	[FouPatrolTimein] [datetime] NOT NULL,
	[RouteCovedA] [varchar](max) NULL,
	[RouteCovedB] [varchar](max) NULL,
	[RouteCovedC] [varchar](max) NULL,
	[ObservationComm] [varchar](max) NULL,
	[SignPatrolOff] [varchar](max) NULL,
	[SignShiftCont] [varchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Location] [varchar](20) NOT NULL,
	[Date] [date] NULL,
	[Period] [varchar](20) NULL,
	[ShiftDate] [date] NULL,
	[ShiftControllerId] [varchar](20) NULL,
	[ShiftControllerDate] [datetime] NULL,
	[ShiftControllerComment] [varchar](250) NULL,
	[DutyOfficerId] [varchar](20) NULL,
	[DutyOfficerDate] [datetime] NULL,
	[DutyOfficerComment] [varchar](250) NULL,
	[AmPscId] [varchar](20) NULL,
	[AmPscDate] [datetime] NULL,
	[AmPscComment] [varchar](250) NULL,
	[ManagerPscId] [varchar](20) NULL,
	[ManagerPscDate] [datetime] NULL,
	[ManagerPscComment] [varchar](250) NULL,
 CONSTRAINT [PK_SecurityPatrols] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftHandovers]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftHandovers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Activity] [varchar](max) NOT NULL,
	[ShiftTimeOut] [datetime] NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[Created] [datetime] NOT NULL,
	[ShiftPeriod] [varchar](10) NULL,
 CONSTRAINT [PK_ShiftHandovers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[LastUpdated] [datetime] NULL,
	[LastUpdatedBy] [varchar](10) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZonalOfficerReports]    Script Date: 6/19/2026 1:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZonalOfficerReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffStrength] [varchar](20) NOT NULL,
	[StrongRoom] [varchar](max) NULL,
	[LoadingBay] [varchar](max) NULL,
	[ExitDoors] [varchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[Total] [varchar](max) NULL,
	[TotalWasteSearched] [varchar](max) NULL,
	[Returned] [varchar](max) NULL,
	[NotReturned] [varchar](max) NULL,
	[Closed] [varchar](max) NULL,
	[TotalMovt] [varchar](max) NULL,
	[Customer] [varchar](max) NULL,
	[Specifications] [varchar](max) NULL,
	[Quantity] [varchar](max) NULL,
	[CartonRecvd] [varchar](10) NULL,
	[CartonIssd] [varchar](10) NULL,
	[Briquetting] [varchar](max) NULL,
	[Burning] [varchar](max) NULL,
	[ExternalEscort] [varchar](max) NULL,
	[OtherActivty] [varchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](10) NOT NULL,
	[RemarkDutyOff] [varchar](max) NULL,
	[Location] [varchar](20) NOT NULL,
	[CBNMovt] [varchar](max) NULL,
	[Period] [varchar](20) NULL,
	[ShiftDate] [date] NULL,
	[ZonalOfficerId] [varchar](20) NULL,
	[ZonalOfficerDate] [datetime] NULL,
	[ZonalOfficerComment] [varchar](250) NULL,
	[DutyOfficerId] [varchar](20) NULL,
	[DutyOfficerDate] [datetime] NULL,
	[DutyOfficerComment] [varchar](250) NULL,
	[AmPscId] [varchar](20) NULL,
	[AmPscDate] [datetime] NULL,
	[AmPscComment] [varchar](250) NULL,
	[ManagerPscId] [varchar](20) NULL,
	[ManagerPscDate] [datetime] NULL,
	[ManagerPscComment] [varchar](250) NULL,
 CONSTRAINT [PK_ZonalOfficerReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccessLog] ADD  CONSTRAINT [DF_AccessLog_date]  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_Departments_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[DutyPoints] ADD  CONSTRAINT [DF_DutyPoints_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[GoodsDelvryContractors] ADD  DEFAULT (getdate()) FOR [DateGoodDelved]
GO
ALTER TABLE [dbo].[Grades] ADD  CONSTRAINT [DF_Grades_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[HandOvers] ADD  DEFAULT (getdate()) FOR [ShiftDate]
GO
ALTER TABLE [dbo].[HandOvers] ADD  CONSTRAINT [DF_HandOvers_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[KeyBagRequests] ADD  CONSTRAINT [DF_KeyBagRequests_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[KeyBagRequests] ADD  CONSTRAINT [DF_KeyBagRequests_Treated]  DEFAULT ((0)) FOR [Treated]
GO
ALTER TABLE [dbo].[KeyBagRequests] ADD  CONSTRAINT [DF_KeyBagRequests_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[MaterialMovements] ADD  CONSTRAINT [DF_MaterialMovements_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[PassEntries] ADD  CONSTRAINT [DF_PassEntries_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[PassEntries] ADD  DEFAULT ((0)) FOR [CheckedIn]
GO
ALTER TABLE [dbo].[Passes] ADD  DEFAULT ((0)) FOR [DepartmentMgrTreated]
GO
ALTER TABLE [dbo].[Passes] ADD  DEFAULT ((0)) FOR [PassApproved]
GO
ALTER TABLE [dbo].[Passes] ADD  CONSTRAINT [DF_Passes_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Passes] ADD  DEFAULT ((0)) FOR [Returned]
GO
ALTER TABLE [dbo].[PassExits] ADD  CONSTRAINT [DF_PassExits_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[PassExits] ADD  DEFAULT ((0)) FOR [CheckedOut]
GO
ALTER TABLE [dbo].[PassExits] ADD  CONSTRAINT [DF_PassExits_ExitCategory]  DEFAULT ('External') FOR [ExitCategory]
GO
ALTER TABLE [dbo].[PassExits] ADD  CONSTRAINT [DF_PassExits_GateCheckedOut]  DEFAULT ((0)) FOR [GateCheckedOut]
GO
ALTER TABLE [dbo].[Profiles] ADD  CONSTRAINT [DF_Profiles_LoginStatus]  DEFAULT ('Enabled') FOR [LoginStatus]
GO
ALTER TABLE [dbo].[Profiles] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Profiles] ADD  DEFAULT ((0)) FOR [UnitId]
GO
ALTER TABLE [dbo].[Profiles] ADD  DEFAULT ((0)) FOR [DepartmentId]
GO
ALTER TABLE [dbo].[Profiles] ADD  DEFAULT ((0)) FOR [CanLogin]
GO
ALTER TABLE [dbo].[SecurityDocs] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[ShiftHandovers] ADD  CONSTRAINT [DF_ShiftHandovers_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Units] ADD  CONSTRAINT [DF_Units_Created]  DEFAULT (getdate()) FOR [Created]
GO
USE [master]
GO
